.fitsumexplainmoreprimeryspan a{    margin-left: 20px;  border-radius: 50px;}

.fitsumexplainmoreprimery{display: flex;    align-items: center;   flex-direction: row;}
.fitsumboldlargmaganen{font-size: xx-large;    margin-top: 2px;    margin-right: -2px;    margin-bottom: -2px;    margin-left: 2px;   color: rgb(255, 60, 0);}
